body {
    background: url('../../../assets/prello_dashboard_background.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

.importData{
    justify-content: space-around;
    align-items: center;
}

.dashboardTitle{
    flex:3;
    align-items: center;
    justify-content: space-around;
}

.importFileForm{
    flex:1
}

footer {
    font-family: Nunito, Helvetica, Arial, sans-serif;
}

.homeHeader{
    border-bottom: 1px solid #bbb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    text-align: center;
}

.importFileHomeForm{
    flex:2;    
}

.homeTitle{
    flex:5;
}

.homeTitle h1{
    font-size: 3rem;
    color: #004a75;
    padding-top:40px; 
}


.importFileHomeForm{
    padding-top: 50px; 
    display: flex;
}

.browseFileBtn{
    font-size: 16px;
}


.titleInfo{
    text-align: center;
}

.textInfo{
    text-align: center;
}

.infoPanel{
    padding: 20px;
}